/* header */

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-header li {
  width: 90px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-top-area li {
  color: #292929;
  background-color: #fdb814;
  border-bottom: 1px solid #292929;
}
.header-top-area li:hover {
  animation: btnHover 0.2s forwards;
}

.header-top-area img {
  width: 80px;
  height: 100px;
}

.header-bottom-area li {
  color: lightgray;
}

/* body */

#main-backgroundimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  background-image: url("../assets/back3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.8;
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* center area */
.center-area {
  width: 550px;
  height: 550px;
  border-radius: 550px;
  background-color: hsl(42, 98%, 54%, 0.8);
  content: "";
  z-index: 10;
  color: #292929;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 1%;
}

.center-area-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-area .text-thin {
  font-size: 74px;
}

.center-area .text-bold {
  font-weight: bold;
  font-size: 78px;
}

.center-area-mid {
  font-size: 20px;
}

.center-area-btn {
  width: 120px;
  height: 52px;
  background-color: rgba(255,255,255,.9);
  border-radius: 12px;
  font-weight: bold;
  border: 2px solid #292929;
  font-size: 18px;
  color: #292929;
}

@keyframes btnHover {
  to {
    background-color: #292929;
    color: #d9ddd0;
    font-weight: bold;
  }
}
.center-area-btn:hover {
  animation: btnHover 0.3s forwards;
}
